<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta name="google-site-verification" content="FVooMw5YyRrRNlsnDL6IaHs-wr2XNjdiB7X4U1FZ0eM" />
    <meta name="fragment" content="!" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" />
    {{documentMeta}}
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(client) app/vendor.css -->
      <!-- bower:css -->
      <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
      <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
      <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp,client}) app/app.css -->
    <link rel="stylesheet" href="app/app.css">
      <!-- injector:css -->
      <link rel="stylesheet" href="app/account/login/login.css">
      <link rel="stylesheet" href="app/admin/admin.css">
      <link rel="stylesheet" href="app/app.css">
      <link rel="stylesheet" href="app/document/document.css">
      <link rel="stylesheet" href="app/main/main.css">
      <link rel="stylesheet" href="components/modal/modal.css">
      <!-- endinjector -->
    <!-- endbuild -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.11/alertify.core.min.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.11/alertify.bootstrap.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.css"/>

    <link rel="stylesheet" href="" id="themeCSS">
  </head>
  <body ng-app="rotowikiApp">
    <!--[if lt IE 11]>
      <p>이 사이트는 모던 브라우저만 지원합니다. IE 11 이상이나 Chrome, Safari, Firefox, Opera 등 최신 브라우저를 통해 즐겨주세요.</p>
    <![endif]-->

    <script id="info.html" type="text/ng-template">
      <div class="alert" ng-class="alertTypeClass" role="alert" ng-transclude></div>
    </script>

    <script id="discography.html" type="text/ng-template">
      <div class="col-xs-12 col-sm-6 col-md-4 discography item">
        <div class="thumbnail">
          <img class="discography-thumbnail" ng-src="{{thumbnailUrl}}" alt="name의 이미지" />
          <div class="caption">
            <h3>{{name}}</h3>
            <p>
              <div class="alert alert-info">{{releaseDate}} 발매</div>
              <div class="well" ng-transclude></div>
            </p>
          </div>
        </div>
      </div>
    </script>

    <script id="documentsWidget.html" type="text/ng-template">
      <div class="col-md-6 col-xs-12" ng-init="init()">
        <h1 class="page-header">{{heading}}</h1>
        <div ng-show="isNowLoading">
          <i class="fa fa-spin fa-spinner"></i> 문서를 불러오고 있습니다...
        </div>
        <ul class="list-unstyled">
          <li ng-repeat="document in documents">
            <div class="row">
              <a href="/document/{{document.title}}">
                <div class="col-md-6 col-xs-8">
                  {{document.title}}
                </div>
                <div class="col-md-6 col-xs-4">
                  <span ng-if="displayField === 'from'">{{document.updatedAt | from}}</span>
                  <span ng-if="displayField === 'readCount'" class="label label-info">{{document.readCount}}</span>
                  <span ng-if="displayField === 'likeCount'" class="label label-primary"><i class="fa fa-heart"></i> {{document.likeCount}}</span>
                </div>
              </a>
            </div>
          </li>
        </ul>
        <div class="well" ng-show="!isNowLoading && documents.length === 0">문서가 없습니다.</div>
      </div>
    </script>
    <script id="document-list.html" type="text/ng-template">
    	<ul class="list-unstyled">
    		<li ng-repeat="document in rootDocuments">
    			<a ui-sref="document({title:document.title})">
    				<div class="document-list">
    					<button ng-if="document.subDocumentsCount > 0"
    						    class="btn btn-info btn-xs"
    							ng-click="loadSubDocuments(document)">
    						<i class="fa fa-plus"></i>
    					</button>
    					<span class="document-list-title">{{document.title}}</span>
    					<span class="badge">{{document.subDocumentsCount}}</span>
    					<span class="pull-right">
    						<small>{{document.updatedAt | from}} 수정됨</small>
    					</span>
    					<div ng-if="document.subDocuments && document.subDocuments.length > 0">
    						<document-list documents="subDocuments"></document-list>
    					</div>
    				</div>
    			</a>
    		</li>
    	</ul>
    </script>
    <div ng-include="'components/navbar/navbar.html'"></div>
    <!-- Add your site or application content here -->
    <div ui-view=""></div>

    <footer class="footer" ng-controller="FooterCtrl">
      문의: <a href="https://twitter.com/winterwolf0412" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
      <a href="https://github.com/rotoshine/rotowiki" target="_blank"><i class="fa fa-github fa-2x"></i></a>
    </footer>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49604777-3');
      ga('send', 'pageview');
    </script>

    <!-- 빌드 에러 때문에 CDN 쪽 땡겨옴...왜이러냐 이거 -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.11/alertify.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/mode-markdown.js"></script>
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- build:js({client,node_modules}) app/vendor.js -->
      <!-- bower:js -->
      <script src="bower_components/jquery/dist/jquery.js"></script>
      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/angular-resource/angular-resource.js"></script>
      <script src="bower_components/angular-cookies/angular-cookies.js"></script>
      <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
      <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
      <script src="bower_components/lodash/dist/lodash.compat.js"></script>
      <script src="bower_components/angular-socket-io/socket.js"></script>
      <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
      <script src="bower_components/moment/moment.js"></script>
      <script src="bower_components/ng-file-upload/angular-file-upload.js"></script>
      <script src="bower_components/Keypress/keypress-2.1.3.min.js"></script>
      <!-- endbower -->
      <script src="socket.io-client/socket.io.js"></script>
    <!-- endbuild -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/locales.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.2.2/masonry.pkgd.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js"></script>
    <!-- build:js({.tmp,client}) app/app.js -->
    <script src="app/app.js"></script>
      <!-- injector:js -->
      <script src="app/account/account.js"></script>
      <script src="app/account/login/login.controller.js"></script>
      <script src="app/account/settings/settings.controller.js"></script>
      <script src="app/account/signup/signup.controller.js"></script>
      <script src="app/admin/admin.controller.js"></script>
      <script src="app/admin/admin.js"></script>
      <script src="app/document/document.controller.js"></script>
      <script src="app/document/document.directive.js"></script>
      <script src="app/document/document.js"></script>
      <script src="app/document/document.markdown.service.js"></script>
      <script src="app/document/document.service.js"></script>
      <script src="app/main/main.controller.js"></script>
      <script src="app/main/main.js"></script>
      <script src="components/auth/auth.service.js"></script>
      <script src="components/auth/user.service.js"></script>
      <script src="components/modal/modal.service.js"></script>
      <script src="components/mongoose-error/mongoose-error.directive.js"></script>
      <script src="components/navbar/navbar.controller.js"></script>
      <script src="components/socket/socket.service.js"></script>
      <!-- endinjector -->
    <!-- endbuild -->
  </body>
</html>
