node_modules
public
.tmp
.idea
.settings
client/bower_components
dist
/server/config/local.env.js
npm-debug.log
deploy.json
googlecfbf217d413bbffa.html
nohup.out
/uploads/*
config.js
.next
.vscode
.env
