<!doctype html>
  <head>
    <meta charset="utf-8" />
    <title><%= wikiName %> <%= document.title %></title>
  </head>
  <body>
    <h1><%= document.title %></h1>
    <div><%- document.content %></div>
  </body>
</html>
