<div ng-controller="NavbarCtrl">
  <div class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">rotowiki</a>
      </div>
      <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
          <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
              <a ng-href="{{item.link}}">{{item.title}}</a>
          </li>
          <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>
        </ul>

        <form class="navbar-form navbar-left" role="search" ng-submit="searchService.search($event)">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" id="search-text" ng-model="searchService.searchKeyword">
          </div>
          <button type="submit" class="btn btn-default">Search</button>
        </form>

        <ul class="nav navbar-nav navbar-right">
          <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}">
            <div class="nav-right-button-wrapper">
              <button class="btn btn-primary" ng-click="goLogin()"><i class="fa fa-twitter"></i> Twitter 로그인</button>
            </div>
          </li>
          <li ng-show="isLoggedIn()"><p class="navbar-text">{{ getCurrentUser().name }}님 안녕하세요!</p> </li>
          <li ng-show="isLoggedIn()">
            <button class="btn btn-info btn-sm nav-create-document-button" ng-click="createDocument()"><i class="fa fa-file"></i> 새 문서 만들기</button>
          </li>
          <li>
            <div class="nav-right-button-wrapper">
              <a href="/document-random" class="btn btn-success btn-sm random-document-button"><i class="fa fa-anchor"></i> 랜덤 문서</a>
            </div>
          </li>
          <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}">
            <div class="nav-right-button-wrapper">
              <button ng-click="logout()" class="btn btn-default btn-sm"><i class="fa fa-sign-out"></i> Logout</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container" ng-show="searchService.isShow">
    <div class="search-result-wrapper">
      <div class="search-indicator text-center" ng-show="searchService.isNowSearching">
        <h3><i class="fa fa-spinner fa-spin fa-2x"></i> 검색 중입니다...</h3>
      </div>

      <div class="search-result" ng-show="!searchService.isNowSearching && searchService.searchResult.length > 0">
        <h3>{{searchService.searchKeyword}} 검색결과</h3>
        <ul class="list-unstyled">
          <li ng-repeat="document in searchService.searchResult">
            <a href="/document/{{document.title}}" ng-click="searchService.hideResult()">{{document.title}}</a>
          </li>
        </ul>
      </div>

      <div ng-show="!searchService.isNowSearching && searchService.searchResult.length === 0">
        <h3>{{searchService.searchKeyword}} 에 대한 검색결과가 없습니다.</h3>
      </div>
      <footer class="search-result-footer">
        <button class="btn btn-default pull-right" ng-click="searchService.hideResult()"><i class="fa fa-close"></i> 닫기</button>
      </footer>
    </div>
  </div>
</div>
