<header class="hero-unit" id="banner">
  <div class="container">
    <h1>위키를 만들고 있습니다.</h1>
    <p class="lead">여러분의 잉여력을 기다립니다.</p>
  </div>
</header>

<div class="container" ng-init="init()">
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <h1 class="page-header">최근 수정된 문서</h1>
      <div ng-show="isNowRecentDocumentsLoading">
        <i class="fa fa-spin fa-spinner"></i> 문서를 불러오고 있습니다...
      </div>
      <ul class="list-unstyled">
        <li ng-repeat="recentDocument in recentDocuments">
          <a href="/document/{{recentDocument.title}}">
            <div class="col-md-6 col-xs-10">
              {{recentDocument.title}}
            </div>
            <div class="col-md-6 col-xs-2">
              {{recentDocument.updatedAt | from}}
            </div>
          </a>
        </li>
      </ul>
      <div class="well" ng-hide="recentDocuments.length > 0">문서가 없습니다.</div>
    </div>
    <div class="col-lg-6 col-sm-12">
      <h1 class="page-header">사람들이 많이 읽은 문서</h1>
      <div ng-show="isNowHotIssueDocumentsLoading">
        <i class="fa fa-spin fa-spinner"></i> 문서를 불러오고 있습니다...
      </div>
      <ul class="list-unstyled">
        <li ng-repeat="hotIssueDocument in hotIssueDocuments">
          <div class="row">
            <a href="/document/{{hotIssueDocument.title}}">
              <div class="col-md-6 col-xs-10">
                {{hotIssueDocument.title}}
              </div>
              <div class="col-md-6 col-xs-2">
                <span class="label label-info">{{hotIssueDocument.readCount}}</span>
              </div>  
            </a>  
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
