.ace-editor{
  height: 400px;
}
.edit-manual{
  height:100%;
  overflow-y:auto;
}

#parent-document-search-result{
  position:absolute;
  z-index:10;
  background-color:#FFFFFF;
  padding:6px;
  border-radius:5px;
  border:1px solid #487dce;
}
.selectable{
  cursor: pointer;
}

.document-list{
  border:1px solid #434ab6 ;
  margin-bottom:4px;
  border-radius:5px;
  padding:5px;
}

.document-list:hover{
  background-color:#434ab6 ;  
  cursor: pointer;
  color: #eeeeee;
}
.document-list a, .document-list a:visited{
  text-decoration: none;
  color: #000000;
}