.ace-editor{
  position:relative;
  top:0;
  left:0;
  right:0;
  bottom:0;
  height: 400px;
}
.edit-manual{
  height:400px;
  overflow-y:auto;
}

#parent-document-search-result{
  position:absolute;
  z-index:10;
  background-color:#FFFFFF;
  padding:6px;
  border-radius:5px;
  border:1px solid #487dce;
}
.selectable{
  cursor: pointer;
}