<div class="backdrop" ng-show="isNowSaving">
  <div class="backdrop-message">
    <i class="fa fa-spin fa-spinner fa-4x"></i>
  </div>
</div>
<div class="container" ng-init="init()">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-info">
        <div class="panel-heading">문서 편집</div>
        <div class="panel-body">
          <div class="alert alert-info" role="alert" ng-show="hasChangeParentDocument">
            <strong>알림</strong> 상위문서가 변경되었습니다. 
            <span ng-repeat="parentDocument in document.parents">
              {{parentDocument.title}} <span ng-if="!$last">, </span>
            </span>
          </div>
          <form class="form col-xs-12" action="/api/documents" method="POST">
            <div class="row default-margin-bottom">
              <div class="col-xs-12 default-bottom-half-margin">
                <input type="text" class="col-xs-12 form-control" ng-model="changedDocumentTitle" placeholder="문서의 제목을 입력하세요."/>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="document-edit-utils hidden-xs">
                  <button class="btn btn-default btn-sm" ng-model="uploadImage"
                          type="button" ng-file-select
                          ng-file-change="imageUpload($files, $event)" ng-multiple="false"
                          accept="image/*"><i class="fa fa-image"></i></button>
                  <div class="btn-group" role="group" dropdown is-open="status.linkButtonsOpen">
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle">
                      <i class="fa fa-anchor fa-fw"></i><span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li ng-repeat="(key, linkType) in linkTypes">
                        <a href="#" ng-click="linkInsertModal.show(linkType.name)"><i class="fa fa-fw {{linkType.iconClass}}"></i> {{linkType.text}}</a>
                      </li>
                    </ul>
                  </div>
                  <!-- TODO 이 부분도 루프 시키자 -->
                  <div class="btn-group" role="group">
                    <button type="button"
                      class="btn btn-default btn-sm"
                      ng-click="documentQuickEditHandler('bold')">
                      <strong>B</strong>
                    </button>
                    <button type="button"
                      class="btn btn-default btn-sm"
                      ng-click="documentQuickEditHandler('italic')">
                      <em>I</em>
                    </button>
                    <button type="button"
                      class="btn btn-default btn-sm"
                      ng-click="documentQuickEditHandler('strike')">
                      <strike>s</strike>
                    </button>
                  </div>
                </div>
                <div class="pull-right">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-model="showDocumentHelper" 
                        ng-change="saveShowDocumentHelper(showDocumentHelper)"> 문서 문법 일람 보기
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 document-edit-wrapper">
                <tabset>
                  <tab heading="편집" id="document-edit-tab">
                    <div id="ace-editor" 
                      ng-class="{'col-sm-8':showDocumentHelper, 'col-md-9':showDocumentHelper, 'col-xs-12': !showDocumentHelper}" 
                      class="ace-editor col-sm-8 col-md-9 hidden-xs">{{document.content}}</div>
                    <div class="col-sm-4 col-md-3 edit-manual hidden-xs" ng-if="showDocumentHelper">
                      <h3>문서 문법 일람</h3>
                      <div>
                        <h5>강조</h5>
                        <div class="well">
                          *문자*<br>
                          **문자**<br>
                          __문자__<br>
                        </div>
                      </div>
                      <div>
                        <h5>줄긋기</h5>
                          <div class="well">
                            -[문자]
                          </div>
                      </div>
                      <div>
                        <h5>내부 문서 링크</h5>
                        <div class="well">
                          &amp;[문자]
                        </div>
                      </div>
                      <div>
                        <h5>외부 문서 링크</h5>
                        <div class="well">
                          *[문서명|https://twitter.com]
                        </div>
                      </div>
                      <div>
                        <h5>인용문</h5>
                        <div class="well">
                          > 문자
                        </div>
                      </div>
                      <div>
                        <h5>이미지 링크 삽입</h5>
                        <div class="well">
                          ![이미지 설명 텍스트](이미지_주소)
                        </div>
                      </div>
                      <div>
                        <h5>영역 강조 기능</h5>
                        <div class="well">
                          &lt;info type="영역타입"&gt;내용&lt;/info&gt;<br>
                          영역타입의 종류는 <code>info</code>, <code>success</code>,
                          <code>warning</code>, <code>danger</code>
                        </div>
                      </div>
                      <div>
                        <h5>아무도 모르지만 아주 예전에 구현해둔 단축키</h5>
                        <div class="well">
                          <ul class="list-unstyled">
                            <li>
                              <kbd>ctrl + s</kbd> 문서 저장
                            </li>
                            <li>
                              <kbd>ctrl + e</kbd> 문서 편집 탭 활성화
                            </li>
                            <li>
                              <kbd>ctrl + b</kbd> 문서 미리보기 탭 활성화
                            </li>
                            <li>
                              <kbd>esc</kbd> 문서 편집 취소
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <textarea class="form-control visible-xs" name="content" id="content" cols="30" rows="15" ng-model="document.content"
                              placeholder="문서 내용을 입력해주세요. markdown 포맷을 지원합니다."></textarea>
                  </tab>
                  <tab heading="미리보기" ng-click="markdownRender()" id="document-preview-tab">
                    <document class="col-xs-12 markdown-view" id="markdown-view" content="markdownToHTML"></document>
                  </tab>
                </tabset>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 uploaded-file-list">
                <div class="panel panel-default">
                  <div class="panel-heading">uploaded images</div>
                  <div class="panel-body">
                    <ul class="list-inline">
                      <li ng-repeat="uploadedFile in uploadedFiles">
                        <div class="uploaded-file" 
                          popover="클릭하여 이미지를 본문에 추가할 수 있습니다."
                          ng-style="{'background-image':'url(' + fileUrl + '/' + uploadedFile._id + ')'}"
                          ng-click="appendUploadedFile(uploadedFile)">
                          <button class="remove" type="button" ng-click="removeUploadedFile(uploadedFile, $index)">x</button>
                        </div>
                      </li>
                    </ul>    
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="panel-footer">
          <div class="pull-left">
            <a class="btn btn-danger" href="/document/{{document.title}}">취소</a>
          </div>
          <div class="pull-right">
            <button class="btn btn-info" ng-click="parentChangeModal.show()"><i class="fa fa-arrow-circle-up"></i>상위 문서 변경하기</button>
            <button class="btn btn-primary" id="document-save-button" ng-click="save()"><i class="fa fa-save"></i> 저장</button>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/ng-template" id="parentChangeModal.html">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">상위문서 바꾸기</h4>
    </div>
    <form class="form form-horizontal">
      <div class="modal-body">
        <div class="form-group">
          <label class="col-xs-4">상위문서</label>
          <div class="col-xs-8">
            <div id="parent-document-search-result" 
                 ng-show="searchComplete && documentSearchQuery.length > 0 && searchResultShow">
              <div ng-show="searchResults.length === 0 && searchResultShow"><strong>{{documentSearchQuery}}</strong>의 검색결과가 없습니다.</div>
              <ul class="list-unstyled" ng-show="searchResults.length > 0">
                <li class="selectable" ng-repeat="searchDocument in searchResults" 
                    ng-mouseenter="mouseEnterEffect($index)"
                    ng-class="{ 'selected' : searchDocument.selected }"
                    ng-click="selectParent(searchDocument)">
                  {{searchDocument.title}}
                </li>
              </ul>
              <hr>
              <div><kbd>esc</kbd>를 누르면 사라집니다.</div>
            </div>
            <div>
              <input id="document-search-query" type="text" class="form-control" 
                     ng-model="documentSearchQuery" placeholder="문서 제목을 입력하세요" 
                     ng-click="search(documentSearchQuery)"
                     ng-keydown="searchHandler(documentSearchQuery, $event)"> 
            </div>
            <div>
              <div ng-show="currentDocument.parents.length === 0" class="well">
                상위문서가 없습니다.
              </div>
              <div ng-show="parentAndSubSameError" class="alert alert-danger">
                <strong>알림</strong>현재 문서를 상위 문서로 지정할 수 없습니다 이자식아.
              </div> 
              <ul class="list-unstyled">
                <li ng-repeat="parentDocument in currentDocument.parents">
                  <div class="pull-left">{{parentDocument.title}}</div>
                  <button type="button" class="btn btn-danger pull-right" ng-click="removeParentDocument($index)">
                    <i class="fa fa-close"></i>
                  </button>
                  <div class="clearfix"></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="hide()">닫기</button>
        <button type="button" class="btn btn-primary" ng-click="applyChange()" ng-disabled="selectedParentDocument === null">변경</button>
      </div>
    </form>
  </script>
  <script type="text/ng-template" id="linkInsertModal.html">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">링크 삽입하기</h4>
    </div>
    <form class="form form-horizontal">
      <div class="modal-body">
        <tabset id="link-tabs">
          <tab select="selectTab(linkTypes.DOCUMENT.name)">
            <tab-heading class="tab-{{linkTypes.DOCUMENT.name}}">
              <i class="fa fa-fw fa-file"></i>
            </tab-heading>
            <div class="form-group">
              <label class="col-xs-4">링크할 문서</label>
              <div class="col-xs-8">
                <input type="text" class="form-control" placeholder="문서명을 2글자 이상 입력하세요." ng-model="linkTypes.DOCUMENT.linkObject.searchKeyword" ng-keyup="searchDocument()"/>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-8 col-xs-offset-4">
                <div class="parent-search-result">
                  <div ng-show="isNowSearching">
                    <i class="fa fa-spin fa-spinner"></i> 검색 중입니다...
                  </div>
                  <div ng-show="!isNowSearching && searchResults.length === 0">
                    검색 결과가 없습니다.
                  </div>
                  <div ng-show="!isNowSearching && searchResults.length > 0">
                    <div>아래 문서 중 하나를 선택하세요.</div>
                    <ul class="list-unstyled">
                      <li class="selectable" ng-repeat="document in searchResults" ng-class="{'selected': document.selected}"
                          ng-click="selectDocument(document)">
                        {{document.title}}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </tab>
          <tab select="selectTab(linkTypes.EXTERNAL_LINK.name)">
            <tab-heading class="tab-{{linkTypes.EXTERNAL_LINK.name}}">
              <i class="fa fa-fw fa-external-link"></i>
            </tab-heading>
            <div class="form-group">
              <label class="col-xs-4">링크 텍스트</label>
              <div class="col-xs-8">
                <input type="text" class="form-control" placeholder="링크가 표시될 텍스트를 적어주세요." ng-model="linkTypes.EXTERNAL_LINK.linkObject.linkName"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-4">외부링크 주소</label>
              <div class="col-xs-8">
                <input type="text" class="form-control" placeholder="링크 주소를 적어주세요." ng-model="linkTypes.EXTERNAL_LINK.linkObject.linkUrl"/>
              </div>
            </div>
          </tab>
          <tab select="selectTab(linkTypes.SOUNDCLOUD.name)">
            <tab-heading class="tab-{{linkTypes.SOUNDCLOUD.name}}">
              <i class="fa fa-fw fa-soundcloud"></i>
            </tab-heading>
            <div class="form-group">
              <label class="col-xs-4">soundcloud url</label>
              <div class="col-xs-8">
                <input type="text" class="form-control" placeholder="soundcloud url을 적어주세요." ng-model="linkTypes.SOUNDCLOUD.linkObject"/>
              </div>
            </div>
          </tab>
          <tab select="selectTab(linkTypes.YOUTUBE.name)">
            <tab-heading class="tab-{{linkTypes.YOUTUBE.name}}">
              <i class="fa fa-fw fa-youtube"></i>
            </tab-heading>
            <div class="form-group">
              <label class="col-xs-4">youtube url</label>
              <div class="col-xs-8">
                <input type="text" class="form-control" placeholder="youtube url을 적어주세요." ng-model="linkTypes.YOUTUBE.linkObject"/>
              </div>
            </div>
          </tab>
          <tab select="selectTab(linkTypes.SOURCECODE.name)">
            <tab-heading class="tab-{{linkTypes.SOURCECODE.name}}">
              <i class="fa fa-fw fa-code"></i>
            </tab-heading>
            <div class="form-group">
              <label class="col-xs-4">소스코드 종류</label>
              <div class="col-xs-8">
                <select class="form-control" ng-model="linkTypes.SOURCECODE.linkObject.codeType" ng-options="code as code for code in linkTypes.SOURCECODE.codes"></select>
              </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                  <textarea class="form-control" ng-model="linkTypes.SOURCECODE.linkObject.code" placeholder="소스코드를 입력하세요." rows="10"></textarea>
                </div>
            </div>
          </tab>
        </tabset>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="hide()">닫기</button>
        <button type="button" class="btn btn-primary" ng-click="applyLink()" ng-disabled="selectedDocument === null">넣기</button>
      </div>
    </form>
  </script>
</div>
