<div class="container" ng-init="init()" ng-cloak>
  <div ng-show="!isNotExistDocument">
    <div class="row" ng-show="document.parent !== undefined">
      <div class="col-xs-12">
        <div class="alert alert-info" role="alert">
          이 문서는 <a href="/document/{{document.parent.title}}">{{document.parent.title}}</a> 문서의 하위문서 입니다.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 no-right-padding">
        <h1 class="page-header pull-left">{{title}}</h1>
        <div class="pull-right document-top-buttons">
          <div class="inline-block default-right-margin">{{document.updatedAt | from}} 수정</div>
          <button class="btn btn-info share-twitter-button visible-xs pull-right" ng-click="shareTwitter()">
            <i class="fa fa-share-alt pull-left"></i>
            <i class="fa fa-twitter pull-right"></i>
          </button>
          <button class="btn btn-info share-twitter-button hidden-xs" ng-click="shareTwitter()">
            <i class="fa fa-twitter"></i> 트위터에 공유하기
          </button>
        </div>
      </div>
    </div>
    <div class="row" ng-show="isNowLoading">
      <div class="col-xs-12">
        <p class="lead">
          <i class="fa fa-spin fa-spinner"></i> 문서를 읽어오고 있습니다.
        </p>
      </div>
    </div>
    <div class="row" ng-show="!isNowLoading">
      <document class="col-xs-12 markdown-view" ng-show="document.content !== ''" id="markdown-view" content="document.content | markdownToHTML"></document>
      <div class="col-xs-12" ng-show="document.content === '' || document.content === undefined || document.content === null">
        <div class="alert alert-warning"><strong>알림</strong> 내용이 없는 문서입니다.</div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div ng-show="document.subDocuments.length > 0">
          <section class="panel panel-info">
            <div class="panel-heading">하위문서</div>
            <section class="panel-body">
              <ul class="list-unstyled">
                <li ng-repeat="subDocument in document.subDocuments">
                  <a href="/document/{{subDocument.title}}">{{subDocument.title}}</a>
                </li>
              </ul>
            </section>
          </section>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center default-bottom-margin">
        <div ng-if="isLoggedIn()">
          <div ng-if="document.alreadyLike">
            <button class="btn btn-primary btn-lg" ng-click="unlike()"><i class="fa fa-thumbs-up"></i> {{document.likeCount}}</button>
          </div>
          <div ng-if="!document.alreadyLike">
            <button class="btn btn-default btn-lg" ng-click="like()"><i class="fa fa-thumbs-up"></i> {{document.likeCount}}</button>
          </div>
        </div>
        <div ng-if="!isLoggedIn()">
          <button class="btn btn-primary btn-lg"
            popover="로그인 후 이 문서를 추천할 수 있습니다."
            ng-click="notifyNeedLogin();">
            <i class="fa fa-thumbs-up"></i> {{document.likeCount}}
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 document-bottom-buttons text-right no-right-padding">
        <div>
          <div class="inline-block default-right-margin">이 문서는 <span class="badge badge">{{document.readCount}}</span> 번 읽혔습니다.</div>
          <button class="btn btn-info share-twitter-button visible-xs pull-right" ng-click="shareTwitter()">
            <i class="fa fa-share-alt pull-left"></i>
            <i class="fa fa-twitter pull-right"></i>
          </button>
          <button class="btn btn-info share-twitter-button hidden-xs" ng-click="shareTwitter()">
            <i class="fa fa-twitter"></i> 트위터에 공유하기
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-right" ng-show="isLoggedIn()">
        <div class="well">
          <a href="/document-edit/{{document.title}}" class="btn btn-default" id="document-edit-button"><i class="fa fa-pencil"></i>수정하기</a>
          <button class="btn btn-info" ng-click="createSubDocument()"><i class="fa fa-file"></i>하위 문서 만들기</button>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="isNotExistDocument">
    {{title}}는 없는 문서입니다.
    <div class="well" ng-show="!isLoggedIn()">로그인 후 이 문서를 작성해보세요!</div>
    <button ng-show="isLoggedIn()" type="button" class="btn btn-info" ng-click="createDocument()">이 문서 작성하기</button>
  </div>
</div>
